:root {
    --verbotblue: #3596d9;
    --verbotmediumblue: #277099;
    --verbotdarkblue: #15445a;
    --verbotliteblue :rgba(53,155,217, 0.5);
     background-color: black;
  }
  

* {
    font-family: roboto Verdana, Geneva, sans-serif;
    box-sizing: border-box;
}

.featurebg {
    background-color: #F7F7F7;
}

.feature{
    padding: 40px 0;
}

.featureline {
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: var(--verbotblue);
    display: inline-block;
    top:19px;
    z-index: 1;
}

.feature-heading {
    display: inline-block;
    font-weight: bolder;
    background-color: #F7F7F7;
    padding-right: 10px;
    z-index: 2;
}

.feature-container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.back-arrow {
    display: inline;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.feature-arrows {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
    background-color: #F7F7F7;
}

.back-arrow:hover {
    background-color: var(--verbotblue);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.feature-card {
    width: 100%;
    height: 100%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}


.image-container{
    width: 100%;
    background-color:black;
    height:300px;
    color: #000;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.image-container div {
    position: absolute;
    top:50%;
    left: 30px;
    color:#ffffff;
}


.feature-img {
    width: 100%;
    height: inherit;
    overflow: hidden;
    border-radius: 10px;
    transition: ease-in-out 0.4s;
    opacity: 0.5;
}


.feature-img:hover {
    border-radius: 10px;
    transform: scale(1.1);
    overflow: hidden;
    transition: ease-in-out 0.4s;
}

.feature-technology {
    width: 100%;
    overflow: hidden !important;
    border-radius: 10px;
    background-color: #000;
}


@media only screen and (max-width:1200px ) {


    .feature-card {
        padding: 35px 0;
        height: 700px;
        display: flex;
        justify-content: space-between;
    }

    .featureline {
        top:20px;
    }
    
    
}


@media only screen and (max-width:768px ) {


    .feature-card {
        padding: 35px 0;
        height: 700px;
        display: flex;
        justify-content: space-between;
    }

    .featureline {
        top:15px;
    }
    
    
}











