:root {
    --verbotblue: #3596d9;
    --verbotmediumblue: #277099;
    --verbotdarkblue: #15445a;
    --verbotliteblue :rgba(53,155,217, 0.5);
     background-color: black;
  }
  

.whole-background {
    background-color:var(--verbotliteblue)

}
.about-thumb-img {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
}

.about-us-heading {
    color: var(--verbotblue);
    text-align: left;
    
}

.about-us-content {
    text-align: left;
    padding: 20px 0;
   color: var(--verbotdarkblue)  ;
}

.main-card-progress {
    padding: 40px 20px;

    width: 100%;
    height: auto;
    text-align: center;
    background-color: white;
}


.aboutcard1 {
    width: 100%;
    height: 10vh;
    top: 10px;
    color:  var(--verbotblue);

}
.about-card-title{
    padding:20px 0;
 font-size: 1.5rem;
 font-weight: 700;
 color:  var(--verbotdarkblue);

}

.main-mission {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 35px;
}
.about-mission-heading{
    color:  var(--verbotdarkblue);
    font-family: "Roboto",Sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    
}

.about-card-content{
 color:  var(--verbotdarkblue);

}

.aboutMenuButton {
    border: none !important;
    width: 100%;
    background-color: white;
    padding: 20px 0 ;
}

.aboutMenuButtonActive {
    border: none !important;
    width: 100%;
    background-color:var(--verbotblue);
    padding: 20px 0 ;
}


.circle {
    display: block;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: white;
    margin: 10px;
    transition: 5s ease;
    position: absolute;
    top: 0px;
}


.video-img {
    width: 100% !important;
    height: 100% !important;
    position: relative;
}

.para-onclick{ 
    padding:30px 10px;
    font-size: 1.16rem;
}


