:root {
    --verbotblue: #3596d9;
    --verbotmediumblue: #277099;
    --verbotdarkblue: #15445a;
    --verbotliteblue :rgba(53,155,217, 0.5);
     background-color: black;
  }
  
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.pricing-title{
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.paratext{
    font-size: 1rem;
    font-weight: 400;
    color: gray;
}
.promotions{
    font-size: 2rem;
}
.pricing-heading{
    color:var(--verbotdarkblue);
font-size: 3rem;
}
.IconBox{
    display: flex;
    text-align: justify;
}
.MainCard{
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 30px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.cardTitle{
    font-size: 2rem;
    color:var(--verbotdarkblue);

}
.CardSubheading{
    font-size: 1.2rem;
}
.Price{
    color:var(--verbotdarkblue);
    font-size: 2rem;

}
 .IconBox span{
    font-size: 16px;
    font-weight: 700;
    color:var(--verbotdarkblue);
    padding: 5px 10px;
}
