:root {
	--verbotblue: #3596d9;
	--verbotmediumblue: #277099;
	--verbotdarkblue: #15445a;
	--verbotliteblue :rgba(53,155,217, 0.5);
	 background-color: black;
  }
  
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.contactSection {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90%;
	background-color: var(--verbotdarkblue);
	position: relative;
	flex-direction: column;
	padding: 80px;

}


.contactUs {
	position: absolute;
	top: 10px;
	left: 40%;
	font-size: 70px;
	text-align: center;
	font-weight: bolder;
	color: #fff;
}


.contactSection::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100vh;
	width: 50%;
	background-color: var(--verbotliteblue);

}

.containerContact {
	position: relative;
	min-width: 1100px;
	min-height: 550px;
	display: flex;
	z-index: 1000;
	margin-top: 30px;
	flex-direction: column;

}



.containerContact .contactInfo {
	position: absolute;
	top: 40px;
	width: 350px;
	height: calc(100% - 80px);
	background-color: var(--verbotdarkblue);
	border-radius: 0 15px;
	z-index: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.containerContact .contactInfo h2 {
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	padding-left: 20px;
}

.containerContact .contactInfo ul.info {
	position: relative;
	margin: 20px 0;
}

.containerContact .contactInfo ul.info li {
	position: relative;
	margin: 36px 0;
	list-style: none;
	display: flex;
	cursor: pointer;
	align-items: flex-start;
	padding: 0 0 0 40px;

}

.containerContact .contactInfo ul.info li span:nth-child(1) {
	width: 30px;
	min-width: 30px;
}

.containerContact .contactInfo ul.info li span:nth-child(1) img {
	max-width: 100%;
	filter: invert(1);
}

.containerContact .contactInfo ul.info li span:nth-child(2) {
	color: #fff;
	margin-left: 10px;
	font-weight: 300;
}

.containerContact .contactInfo ul.socialIcons {
	position: relative;
	display: flex;
}

.containerContact .contactInfo ul.socialIcons li {
	list-style: none;
	margin-right: 44px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.containerContact .contactInfo ul.socialIcons li a {
	text-decoration: none;
}

.containerContact .contactInfo ul.socialIcons li a img {
	filter: invert(1);
}


.containerContact .contactForm {
	position: absolute;
	padding: 70px 50px;
	border-radius: 15px 0;
	padding-left: 250px;
	margin-left: 150px;
	width: calc(100% - 150px);
	height: 100%;
	background: #fff;
	box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
}

.containerContact .contactForm h2 {
	color: #0f3959;
	font-size: 24px;
	font-weight: 500;
}

.containerContact .contactForm .formBox {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 30px;
}

.containerContact .contactForm .formBox .inputBox {
	position: relative;
	margin-bottom: 35px;
}

.containerContact .contactForm .inputBox.w50 {
	width: 48%;
}

.containerContact .contactForm .inputBox.w100 {
	width: 100%;
}

.containerContact .contactForm .formBox .inputBox input,
.containerContact .contactForm .formBox .inputBox textarea {
	width: 100%;
	resize: none;
	font-size: 18px;
	font-weight: 300;
	color: #333;
	border: none;
	outline: none;
	border-bottom: 1px solid #777;
}

.containerContact .contactForm .formBox .inputBox textarea {
	height: 120px;
}

.containerContact .contactForm .formBox .inputBox span {
	position: absolute;
	left: 0;
	padding: 5px 0;
	pointer-events: none;
	font-size: 18px;
	transition: 0.3s;
	font-weight: 300;
}

.inputBox input:focus~span,
.inputBox input:valid~span,
.inputBox textarea:focus~span,
.inputBox textarea:valid~span {
	transform: translateY(-20px);
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1px;
	color: var(--verbotliteblue);

}

.containerContact .contactForm .formBox .inputBox input[type="submit"] {
	position: relative;
	cursor: pointer;
	background-color: var(--verbotdarkblue);
	color: #fff;
	border: none;
	max-width: 150px;
	padding: 12px;

}

.containerContact .contactForm .formBox .inputBox input[type="submit"]:hover {
	background-color: var(--verbotblue);

}


/* responsiveness */

@media only screen and (max-width: 1200px) {

	.contactSection {

		position: relative;

	}

	.contactUs {
		position: absolute;
		top: 10px;
		left: 40%;
		font-size: 70px;
		text-align: center;
		font-weight: bolder;
		color: #fff;
	}

	.containerContact {
		width: 90%;
		margin: 20px;
		min-width: auto;
		background: transparent;
		box-shadow: none;


	}

	.containerContact .contactInfo {
		top: 0;
		height: 550px;
		position: relative;
		box-shadow: none;
	}

	.containerContact .containerContactForm {
		position: relative;
		width: calc(100% - 350px);
		padding-left: 0;
		margin-left: 0;
		padding: 40px;
		height: 550px;
		box-shadow: none;
	}
}




@media only screen and (max-width:578px) {
	.submaintermcond {
		border-radius: 20px;
		height: auto;
		width: 100%;
		background-color: #d9dbf1;
		margin-top: 771px;
		padding: 13px 0;
		border: 1px solid yellow;

	}
	.containerContact .contactInfo ul.info li {
		position: relative;
		margin: 17px -37px;
		list-style: none;
		display: flex;
		cursor: pointer;
		align-items: flex-start;
		padding: 1px 0 0 40px;
	}
	.containerContact .contactInfo {
		margin: -9px 0;
		padding: 8px 0;
		position: unset;
	}
	}

	@media only screen and (max-width : 991px) {
		.contactSection {
			background-color: var(--verbotliteblue);
			position: unset;


		}

		.contactUs {
			font-size: 40px;
			display: flex;
			margin: 0 auto;
			font-weight: bolder;
			color: #fff;
		}

		.contactSection::before {
			display: none;
		}

		.conatiner {
			display: flex;
			flex-direction: column-reverse;

		}

		.containerContact .containerContactForm {
			width: 100%;
			height: auto;
		}

		.containerContact .containerContactInfo {
			width: 100%;
			height: auto;
			flex-direction: row;

		}

		.containerContact .containerContactInfo ul.socialIcons {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

		}
	}


	@media only screen and (max-width:768px) {

		.containerContact {
			margin: 20px;
			display: flex;
			flex-direction: column;
			height: 940px;
			background-color: var(--verbotblue);
			background: transparent;
			box-shadow: none;

		}

		.containerContact .contactInfo {
			margin: 0;
			padding: 10px 0;
			position: unset;
			display: block;
			width: 100%;
			height: 400px;
			border-radius: 10px 10px 0 0;
		}

		.containerContact .contactForm {
			margin: 0;
			padding: 20px;
			position: unset;
			display: block;
			width: 100%;
			height: 430px;
			border-bottom: 1px solid gray;
			border-radius: 0 0 10px 10px;
		}

		.containerContact .contactForm .formBox .inputBox input[type="submit"] {
			display: flex;
			margin: 0 auto;
			justify-content: center;
			width: 100%;
			border-radius: 10px;


		}

	}

	@media only screen and (max-width:576px) {

		.containerContact .contactForm {
			height: 550px;
		}

		.containerContact .contactForm .formBox .inputBox input[type="submit"] {
			margin-top: 0;
			display: flex;
			margin: 0 auto;
			padding: 10px;
		}

		.containerContact .contactForm .formBox .inputBox textarea {
			height: 70px;
		}

		.containerContact .contactForm .inputBox.w50 {
			width: 100%;
		}



	}