:root {
    --verbotblue: #3596d9;
    --verbotmediumblue: #277099;
    --verbotdarkblue: #15445a;
    --verbotliteblue :rgba(53,155,217, 0.5);
     background-color: black;
  }
  


.blogpost_container {
    margin: 80px 0;
    background-color: #ffffff;
    box-shadow: 0 32px 32px 0 rgb(0 0 0 / 4%);
}

.blogpost_container img {
    width: 100%;
}

.blog_content {
    padding: 40px;
}

.post_date_button {
    background: var(--verbotblue);
    color: #fff;
    display: inline-block;
    line-height: 30px;
    padding: 0 14px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 0;
}


.blog_reviews_main {
    display: flex;
    flex-direction:row;
    padding-top: 20px;

}
.blog_reviews_main span span {
    color: #000;
    font-weight: 600;
}

.blog_content ul {
    list-style: none;
    display: flex;
    padding: 0 5px;
}

.blog_content ul li {
    padding: 0 5px;
}



